.title {
  display: flex;
  background: darkcyan;
  color: white;
  padding: 10px 10px 10px 30px;
}

.todo {
  font-size: larger;
  font-weight: 600;
  color: green;
  background-color: bisque;
  border: 4px solid teal;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 25px 20px 20px 20px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-input{ 
  height: 35px;
  width: 250px;
  border: none;
  border-radius: 10px;
}

.add-button {
  border: none;
  border-radius: 10px;
  background-color: teal;
  width: 120px;
  color: #fff;
  font-size: large;
  font-weight: 700;
  padding: 10px;
}

.todo-item{
  width: 300px;
  height: 200px;
  border: none;
  border-radius: 10px;
  background-color: green;
  font-size: larger;
  color: white;
  font-weight: 500;
  padding: 10px;
}